*,
*::before,
*::after {
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap");

p,
a,
h1,
h3,
h2,
h4,
h5,
button,
span {
  font-family: "Poppins", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}
div.song-card {
  position: relative;
}

img.cover {
  border-radius: 10px;
}

img.cover-play {
  position: absolute;
  width: 45px;
  height: 45px;
}

h4.cover-title {
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

p.cover-text {
  font-style: normal;
  font-weight: normal;
  /* line-height: 170%; */
  color: rgba(34, 34, 34, 0.8);
}

img.user {
  border-radius: 50%;
}

div.icon-box2 {
  display: none;
}

span.nav {
  background-color: white !important;
  font-weight: 400;
  line-height: 18px;
}

/* CARD */

img.card-img-top {
  border-radius: 10px;
  margin: 10px 0;
}

img.play-button {
  position: absolute;
  background: #ffffff;
  border-radius: 100px;
  width: 45px;
  height: 45px;
}

h3.video-text {
  font-style: normal;
  font-weight: 500;
  line-height: 45px;
  width: 336px;
  height: 71px;
  color: #222222;
}

h4.block-title {
  font-style: normal;
  font-weight: 500;
  line-height: 36px;
}

h6.block-subtitle {
  font-style: normal;
  font-weight: 300;
  color: #989aa3;
  /* margin-bottom: 35px; */
}

h5.song-text {
  font-style: normal;
  font-weight: 500;
  line-height: 22.4px;
  color: #222222;
  line-height: 140%;
  /* margin-top: 5px;*/
}

p.singer-text {
  font-style: normal;
  font-weight: 300;
  line-height: 140%;
  color: rgba(34, 34, 34, 0.8);
}

div.card {
  border: none;
  background-color: transparent;
}

p.minsyl {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: #989aa3;
  margin: 0;
  margin-right: 3%;
  margin-left: 5px;
}

p.minsyl-reply {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: rgba(34, 34, 34, 0.8);
}

p.minsyl-cover {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  color: #989aa3;
  margin: 0;
  margin-right: 3%;
  margin-left: 5px;
}

span.minsyl {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 170%;
  color: #989aa3;
}

p.minsyl-2 {
  font-style: normal;
  font-weight: 300;
  line-height: 170%;
  color: #222222;
  margin: 0;
  color: rgba(34, 34, 34, 1);
}

button.minsyl {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 170%;
  color: #989aa3;
  margin: 0;
  border: none;
  background: #f9f9f9;
  box-shadow: -5px -5px 5px rgba(255, 255, 255, 0.6),
    4px 4px 5px rgba(216, 218, 225, 0.3);
  border-radius: 8px;
  width: 111px;
  height: 42px;
}

hr.view {
  display: none;
}
/* Comment se3ction */

h5.comment-title {
  color: rgba(34, 34, 34, 1);
  font-style: normal;
  font-weight: 500;
  line-height: 27px;
}

textarea.area {
  width: 100%;
  height: 132.05px;
  border-radius: 10px;
  border: none;
  resize: none;
  background: #ffffff;
  border: 1px dashed rgba(224, 227, 235, 1);
  box-sizing: border-box;
}

textarea.are :focus {
  border: 1px dashed #e0e3eb;
  box-sizing: border-box;
}

span.flw {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 170%;
}

hr {
  height: 0px;
  border: 1px solid #e0e3eb;
}

::placeholder {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  padding-left: 26px;
  padding-top: 16px;
}

button.view {
  background-color: #f9f9f9;
  border: none;
  color: #3d67ff;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
}

p.card-title {
  color: rgba(34, 34, 34, 1);
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
}

div.comment-more {
  display: none !important;
}

div.v-box2 {
  display: none !important;
}

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 300px) {
  div.container.main-block {
    max-width: 375px;
    padding: 0;
  }
  div.section {
    max-width: 344px;
  }
  img.cover {
    width: 344px;
    height: 200px;
  }
  img.cover-play {
    top: 75px;
    left: 147px;
  }
  img.card-img-top {
    width: 344px;
    height: 200px;
  }
  img.play-button {
    top: 75px;
    left: 147px;
  }
  div.col-11.my-1 {
    padding-left: 35px;
  }

  /* fonts */
  h4.cover-title {
    font-size: 18px;
  }
  p.cover-text,
  span.flw {
    font-size: 13px;
  }
  h5.comment-title {
    font-size: 18px;
  }

  p.minsyl-2,
  p.card-title {
    font-size: 14px;
  }

  p.minsyl-reply {
    font-size: 12px;
  }

  h3.video-text {
    font-size: 28px;
  }
  h4.block-title {
    font-size: 18px;
  }
  h6.block-subtitle {
    font-size: 16px;
  }
  h5.song-text {
    font-size: 16px;
  }
  p.singer-text {
    font-size: 12px;
  }
  button.view {
    font-weight: 500;
    font-size: 14px;
  }
  h5.comment-title {
    font-size: 18px;
  }
}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  div.container.main-block {
    max-width: 548px;
  }
  div.section {
    max-width: 492.23px;
  }
  img.cover {
    width: 492.23px;
    height: 308px;
  }
  img.cover-play {
    top: 137.98px;
    left: 230.49px;
  }

  img.card-img-top {
    width: 234px;
    height: 146px;
  }
  img.play-button {
    top: 51px;
    left: 98.53px;
  }

  div.col-11.my-1 {
    padding-left: 17px;
  }

  /* fonts */
  h4.cover-title {
    font-size: 24px;
  }
  p.cover-text span.flw {
    font-size: 13px;
  }

  p.card-title,
  p.minsyl-2,
  p.minsyl-reply {
    font-size: 13px;
  }

  h3.video-text {
    font-size: 24px;
  }
  h4.block-title {
    font-size: 18px;
  }
  h6.block-subtitle {
    font-size: 16px;
  }
  h5.song-text {
    font-size: 14px;
  }
  p.singer-text {
    font-size: 11px;
  }
  button.view {
    font-weight: 500;
    font-size: 12px;
  }
  h5.comment-title {
    font-size: 18px;
  }
}

/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  div.container.main-block {
    max-width: 1144px;
  }
  div.section {
    max-width: 692px;
  }
  img.card-img-top {
    width: 242.05px;
    height: 146px;
  }
  img.play-button {
    top: 51px;
    left: 99px;
  }
  img.cover {
    width: 692px;
    height: 433px;
  }
  img.cover-play {
    top: 194px;
    left: 324px;
  }

  /* fonts */
  h4.cover-title {
    font-size: 30px;
  }
  p.cover-text span.flw {
    font-size: 18px;
  }
  h5.comment-title {
    font-size: 20px;
  }

  p.card-title,
  p.minsyl-2,
  p.minsyl-reply {
    font-size: 14px;
  }

  h4.block-title {
    font-size: 24px;
  }
  h6.block-subtitle,
  h5.song-text {
    font-size: 16px;
  }
  p.singer-text {
    font-size: 12px;
  }
  button.view {
    font-weight: 500;
    font-size: 12px;
  }
  h5.comment-title {
    font-size: 20px;
  }
}

/* Hiding components */

@media (max-width: 992px) {
  div.comment-more {
    display: flex !important;
  }
}

@media (max-width: 765px) {
  .card {
    margin-bottom: 15px;
  }
  div.v-box2 {
    display: block !important;
    margin-left: 150px !important;
  }
  hr.view {
    display: block;
  }
  div.icon-box1 {
    display: none !important;
  }

  div.icon-box2 {
    display: block !important;
  }
  div .card-body {
    padding: 1rem 1rem;
  }
  div.song-card > div.card-body.p-0.m-0 {
    padding: 0rem 1rem !important;
  }
}
